<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refridgeapp">

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@drawable/ic_fridge_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReFridgeApp">
        <activity
            android:name=".Recipes"
            android:exported="false"
            android:label="@string/title_activity_recipes"
            android:theme="@style/Theme.ReFridgeApp.NoActionBar" />
        <activity
            android:name=".AddGroceryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>